{% extends "layouts/base.html" %}

{% block title %} About {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header mb-5">
            <div class="typography-line">
              <h1 class="text-primary">About Argon Dashboard</h1>
            </div>
          </div>
          <div class="card-body" style="padding-left: 50px; padding-right: 50px; padding-top: 10px;">
            <p>
              <h3 class="text-info">Welcome to Argon Dashboard – Your Ultimate Quantitative Trading Solution! </h3><br>
            </p>
            
            <p>
              <span>In this Argon Dashboard, we bring cutting-edge technology to the world of quantitative trading. Our web application, powered by Flask and backed by Python, is designed to empower both novice and experienced traders with the tools they need to navigate the complex world of stock trading. With the revolutionary Argon Engine at its core, we provide a seamless experience that merges sophisticated trading strategies with user-friendly interface.</span>
            </p><br>
            
          
            <h3 class="text-info">Key Features:</h3>

            <ul>
              <li>  
                <h4>Argon Engine:</h4>
                <p>Our proprietary Argon Engine stands as the heart of the Argon Dashboard. This intelligent quantitative trading model is meticulously crafted to interpret and leverage key stock indicators such as MACD (Moving Average Convergence Divergence), RSI (Relative Strength Index), and SMA (Simple Moving Average). By harnessing the power of these indicators, the Argon Engine executes trades on your behalf with precision and insight.</p>
              </li><br><br>

              <li>
                <h4>Customizable Models:</h4>
                <p>We understand that every trader has unique preferences and strategies. Argon Dashboard enables you to craft your trading model using adjustable parameters that suit your trading style. Whether you're a conservative investor or an aggressive risk-taker, our platform adapts to your needs.</p>
              </li><br><br>

              <li>
                <h4>Automated Trading:</h4>
                <p>Bid farewell to manual trading! Once you've fine-tuned your trading model, the Argon Engine takes over. It automatically monitors the market, detects opportunities based on your selected indicators, and executes trades on the designated stock. This hands-free approach eliminates the need for constant monitoring and allows you to reclaim valuable time.</p>
              </li><br><br>

              <li>
                <h4>Optimization Function:</h4>
                <p>Striving for excellence? Our optimization function assists you in enhancing your trading model's performance. Through thorough analysis and testing, this feature fine-tunes your model's parameters to achieve the best possible results. It's a powerful tool for traders looking to continually refine their strategies.</p>
              </li><br><br>

              <li>
                <h4>User-Friendly Interface:</h4>
                <p>Navigating the complexities of quantitative trading has never been easier. Our intuitive web interface provides a seamless user experience, making it accessible for traders of all experience levels. Monitor your portfolio, review trading history, and adjust parameters with a few clicks.</p>
              </li><br><br>

              <li>
                <h4>Our Vision:</h4>
                <p>Argon Dashboard was born from the belief that technology can revolutionize the trading landscape. We aim to democratize quantitative trading by offering an all-inclusive platform that combines advanced trading strategies with user accessibility. Whether you're an aspiring trader looking to dip your toes into quantitative trading or a seasoned expert seeking a more efficient solution, Argon Dashboard is your gateway to success.</p>
              </li>
            </ul>

            <br><br><h3 class="text-info">How to Use the Dashboard:</h3>
          
            <p>Using Argon Dashboard is designed to be straightforward and user-friendly:</p><br>
            <ol>

              <li>
                <h4>Sign Up or Log In:</h4>
                <p>Create an account if you're new or log in if you're already a member. Your personalized trading journey begins here.</p>
              </li><br><br>

              <li>
                <h4>Configure Your Model:</h4>
                <p>
                  Start by selecting the stock you want to trade and setting up your trading model. Adjust parameters such as indicators and trading period according to your preferences.<br>
                  Learn more about the indicators here: <br>
                  <ul>
                    <li><a href="https://www.investopedia.com/terms/m/macd.asp">Moving Average Convergence Divergence (MACD)</a></li>
                    <li><a href="https://www.investopedia.com/terms/r/rsi.asp">Relative Strength Indicator (RSI)</a></li>
                    <li><a href="https://www.investopedia.com/terms/s/sma.asp">Simple Moving Averages (SMA)</a></li>
                  </ul>
                </p>
              </li><br><br>

              <li>
                <h4>Optimize Your Strategy (Optional):</h4>
                <p>Utilize the optimization function to fine-tune your model for optimal performance. This step is highly recommended for traders aiming to maximize their returns.</p>
              </li><br><br>

              <li>
                <h4>Activate Automated Trading:</h4>
                <p>Once your model is set up, activate the Argon Engine's automated trading. It will continuously analyze the market and execute trades based on your chosen indicators and parameters.</p>
              </li><br><br>

              <li>
                <h4>Monitor and Adjust:</h4>
                <p>Keep track of your portfolio's performance, review trading history, and make adjustments to your model if needed. The user-friendly interface provides real-time insights.</p>
              </li><br>
            </ol>

            <h3 class="text-primary">Join Us:</h3>
            <p>Embark on your journey toward smarter trading with Argon Dashboard. Unleash the power of the Argon Engine, customize your trading models, and experience the ease of automated trading. Embrace data-driven decision-making and stay ahead in the dynamic world of stock trading. Argon Dashboard – Where Innovation Meets Investment.</p><br>

            <blockquote>
              <p class="blockquote blockquote-primary">
                Disclaimer: Trading involves risks, and past performance does not guarantee future results. Always exercise caution and consider seeking financial advice before making trading decisions.
                <br>
              </p>
            </blockquote><br>

          
            This Dashboard is made out of template from Creative Tim's Black Dashboard, which you can <a href="https://appseed.us/product/black-dashboard/" target="_blank">Download here</a>
            and <a href="https://appseed.us/support/" target="_blank">Support here</a>.
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
